/* leica.css */
header { transition: all .5s ease; position: fixed; top: 0; left: 0; z-index: 2000; width: 100vw; background-color: #060606; box-sizing: border-box; }

header h1 { background-image: url("../img/logo/logo.svg"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; float: left; width: 48px; height: 48px; }

header h1 a { display: block; width: 100%; height: 100%; }

header h1 a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#gnb { position: absolute; left: 50%; transform: translateX(-50%); text-align: center; }

#gnb > ul { width: 100%; height: 100%; }

#gnb > ul > li { float: left; height: 100%; }

#gnb > ul > li > ul { display: none; width: 260px; height: auto; background-color: #060606; box-sizing: border-box; }

#gnb > ul > li > ul > li { position: relative; width: 100%; height: 60px; }

#gnb > ul > li > ul > li a { display: block; width: 100%; height: 100%; line-height: 3.75rem; text-align: left; text-indent: 1rem; font-size: 0.875rem; color: #fff; }

#gnb > ul > li > ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#gnb > ul > li > ul > li a:hover, #gnb > ul > li > ul > li a:focus { background-color: #e20613; color: #060606; font-weight: 600; }

#gnb > ul > li:last-child { margin-right: 0; }

#gnb > ul > li > a { display: block; width: 100%; height: 100%; position: relative; color: #fff; text-align: center; transition: all .5s ease; overflow: hidden; }

#gnb > ul > li > a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#gnb > ul > li > a.gnb_action { color: #e20613; font-weight: 600; }

#unb { float: right; }

#unb > ul { width: 100%; height: 100%; }

#unb > ul li { float: left; width: auto; height: 100%; }

#unb > ul li:first-child { position: relative; z-index: 10; height: 100%; }

#unb > ul li:first-child span { display: block; height: 100%; color: #fff; transition: all .5s ease; }

#unb > ul li:last-child { width: 20px; height: 48px; margin-right: 0; }

#unb > ul li a { display: block; width: 100%; height: 100%; color: #fff; transition: all .5s ease; }

#unb > ul li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#unb > ul li a:hover, #unb > ul li a:focus { color: #e20613; }

#unb > ul li a:hover span, #unb > ul li a:focus span { color: #e20613; }

#unb > ul li button { position: absolute; top: 50%; transform: translateY(-50%); width: 20px; height: 16px; }

#unb > ul li button span { display: block; position: absolute; width: 100%; height: 2px; border-radius: 0.0625rem; background-color: #fff; transition: all .7s ease; }

#unb > ul li button span:nth-child(1) { top: 0; }

#unb > ul li button span:nth-child(2) { top: 50%; transform: translateY(-50%); }

#unb > ul li button span:nth-child(3) { bottom: 0; }

#unb > ul li button.menu_act span { background-color: #e20613; }

#unb > ul li button.menu_act span:nth-child(1) { top: 50%; transform: translateY(-50%) rotate(45deg); }

#unb > ul li button.menu_act span:nth-child(2) { opacity: 0; }

#unb > ul li button.menu_act span:nth-child(3) { bottom: 50%; transform: translateY(50%) rotate(-45deg); }

#unb .menu_box { position: fixed; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; background-color: #060606; }

#unb .menu_box ul { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: auto; height: auto; }

#unb .menu_box ul li { margin-bottom: 2rem; }

#unb .menu_box ul li:last-child { margin-bottom: 0; }

#unb .menu_box ul li a { display: block; width: 100%; height: 100%; color: #fff; text-align: center; }

#unb .menu_box ul li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#unb .menu_box ul li a:hover, #unb .menu_box ul li a:focus { color: #e20613; font-weight: 600; }

#headBox.action { background-color: rgba(6, 6, 6, 0.7); }

#headBox.action nav > ul > li > ul { background-color: rgba(6, 6, 6, 0.7); }

#headBox.action .menu_box { background-color: rgba(6, 6, 6, 0.8); }

footer { position: relative; width: 100%; height: auto; background-color: #f6ebe8; box-sizing: border-box; }

footer a { transition: all .3s ease; }

.foot_list_01 li:last-child dl { width: 100%; height: auto; }

.foot_list_01 li:last-child dl dt { width: 100%; height: auto; margin-bottom: 0.75rem; }

.foot_list_01 li:last-child dl dd { width: 132px; }

.foot_list_01 li:last-child dl dd input { float: left; box-sizing: border-box; }

.foot_list_01 li:last-child dl dd input::placeholder { color: #666; font-size: 0.625rem; line-height: 1.3125rem; text-indent: 0.25rem; }

.foot_list_01 li:last-child dl dd input:first-of-type { width: 114px; height: 18px; border: 0; border-bottom: 2px solid #060606; background-color: transparent; line-height: 1.125rem; }

.foot_list_01 li:last-child dl dd input:last-of-type { font-family: 'icomoon'; width: 18px; height: 18px; border: 0; font-size: 0.75rem; font-weight: bold; color: #e20613; background-color: transparent; }

.foot_list_01 dl dt a { display: block; width: 100%; height: 100%; font-weight: bold; font-size: 0.75rem; }

.foot_list_01 dl dt a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

.foot_list_01 dl dt a:hover, .foot_list_01 dl dt a:focus { color: #e20613; font-weight: bold; }

.foot_list_01 dl dt a.foot_act { color: #e20613; font-weight: bold; }

.foot_list_01 dl dt p { font-weight: bold; font-size: 0.75rem; }

.foot_list_01 dl dd a.foot_act { color: #e20613; }

#footBox .follow dd a { line-height: 1.25rem; }

#footBox .follow dd a span { width: 20px; height: 20px; font-size: 1.25rem; }

#footBox .follow dd a p { margin-left: 2rem; }

.foot_list_02 { margin: auto; }

.foot_list_02 li { float: left; margin-right: 1.5rem; font-size: 0.75rem; font-weight: 600; }

.foot_list_02 li a { font-size: 0.75rem; font-weight: 600; }

.foot_list_02 li a:hover, .foot_list_02 li a:focus { color: #e20613; font-weight: 600; }

.foot_list_02 li:last-child { width: 48px; height: 48px; }

.foot_list_02 li:last-child a { display: block; width: 100%; height: 100%; background-image: url("../img/logo/logo.svg"); background-repeat: no-repeat; }

.foot_list_02 li:last-child a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#wrap { position: relative; width: 100%; min-height: 100%; margin: auto; }

header, footer { min-width: 23.75rem; }

section { width: 100%; height: auto; min-width: 23.75rem; }

article, aside { width: 100%; margin: auto; min-width: 23.75rem; }

#eventBox { background-color: #f6ebe8; }

#viewBox { position: relative; height: 100%; }

#viewBox .indicator { position: absolute; z-index: 1000; width: 316px; height: 20px; }

#viewBox .indicator > span { float: left; font-weight: bold; color: #fff; line-height: 1.25rem; }

#viewBox .indicator > span:last-child { float: right; line-height: 0.625rem; }

#viewBox .indicator > ul { position: relative; width: 250px; height: 4px; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#viewBox .indicator > ul > li { position: absolute; overflow: hidden; width: 50px; height: 100%; background-color: #fff; top: 50%; transform: translateY(-50%); }

#viewBox .indicator > ul > li:not(:first-child) span { left: -50px; }

#viewBox .indicator > ul > li span { position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 100%; background-color: #e20613; }

#viewBox > ul { position: relative; width: 100%; height: 100%; }

#viewBox > ul > li { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 70% 50%; box-sizing: border-box; }

#viewBox > ul > li:last-child p { color: #060606; }

#viewBox > ul > li:not(:first-child) { display: none; }

#viewBox > ul > li:nth-child(1) { background-image: url("../img/view/view_01.jpg"); }

#viewBox > ul > li:nth-child(2) { background-image: url("../img/view/view_02.jpg"); }

#viewBox > ul > li:nth-child(3) { background-image: url("../img/view/view_03.jpg"); }

#viewBox > ul > li:nth-child(4) { background-image: url("../img/view/view_04.jpg"); }

#viewBox > ul > li:nth-child(5) { background-image: url("../img/view/view_05.jpg"); }

#viewBox > ul > li div { position: absolute; top: 50%; transform: translateY(-50%); width: auto; height: auto; }

#viewBox > ul > li div p { margin-bottom: 1.25rem; font-weight: bold; color: #fff; }

#viewBox > ul > li div a { background-color: #e20613; color: #fff; text-align: center; font-weight: 600; padding: 0; transition: all .3s ease; }

#viewBox > ul > li div a:hover, #viewBox > ul > li div a:focus { background-color: #060606; color: #e20613; font-weight: 600; }

.indicator a { display: block; width: 100%; height: 100%; }

.indicator a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#eventBox > ul > li:nth-child(1) > ul > li:first-child div a { background-image: url("../img/event_01/event_01.png"); }

#eventBox > ul > li:nth-child(2) > ul > li:first-child div a { background-image: url("../img/event_01/event_02.png"); }

#eventBox > ul > li:nth-child(3) > ul > li:first-child div a { background-image: url("../img/event_01/event_03.png"); }

#eventBox > ul > li:first-child > ul > li:first-child div a { background-size: cover; background-position: 60% 50%; }

#eventBox > ul > li:nth-child(3) { background-color: #fff; }

#eventBox > ul > li:nth-child(3) > ul > li:first-child div a { background-size: contain; }

#eventBox > ul > li > ul > li div { position: relative; width: 100%; height: 100%; overflow: hidden; }

#eventBox > ul > li > ul > li div a { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; transition: all .7s ease; }

#eventBox > ul > li > ul > li div a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#eventBox > ul > li > ul > li div a:hover, #eventBox > ul > li > ul > li div a:focus { transform: scale(1.1); }

#eventBox > ul > li > ul > li:last-child { background-color: #060606; color: #fff; }

#eventBox > ul > li > ul > li:last-child p { float: left; }

#eventBox > ul > li > ul > li:last-child p strong { font-weight: 600; transition: all .7s ease; }

#eventBox > ul > li > ul > li:last-child a { float: right; display: block; width: 40px; height: 40px; border-radius: 100%; background-color: #e20613; transition: all .5s ease; }

#eventBox > ul > li > ul > li:last-child a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#eventBox > ul > li > ul > li:last-child a span { position: relative; z-index: 500; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 20px; height: 3px; background-color: #fff; transition: all 1s ease; }

#eventBox > ul > li > ul > li:last-child a span:last-child { margin-top: -4px; left: 50%; transform: translateX(-50%) rotate(90deg); }

#eventBox > ul > li > ul > li:last-child a:hover, #eventBox > ul > li > ul > li:last-child a:focus { transform: rotate(180deg); }

#productBox { position: relative; overflow: hidden; }

#productBox h2 { text-transform: uppercase; }

#productBox .slide_wrap { position: absolute; left: 50%; transform: translateX(-50%); text-align: center; overflow: hidden; }

#productBox ul { position: relative; }

#productBox ul > li.p_slide_01 a { background-image: url("../img/product/product_01.png"); }

#productBox ul > li.p_slide_02 a { background-image: url("../img/product/product_02.png"); }

#productBox ul > li.p_slide_03 a { background-image: url("../img/product/product_03.png"); }

#productBox ul > li.p_slide_04 a { background-image: url("../img/product/product_04.png"); }

#productBox ul > li.p_slide_05 a { background-image: url("../img/product/product_05.png"); }

#productBox ul > li.p_slide_06 a { background-image: url("../img/product/product_06.png"); }

#productBox ul > li.p_slide_07 a { background-image: url("../img/product/product_07.png"); }

#productBox ul > li a { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; transition: all .5s ease; }

#productBox ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#productBox ul > li a.product_action { transform: scale(1.06); }

#productBox ul > li p { font-weight: 600; transition: all .5s ease; color: #909090; }

#productBox ul > li p span { display: block; color: #e20613; font-weight: bold; transition: all .5s ease; }

#productBox ul > li p.product_action { color: #e20613; font-weight: 600; }

#productBox ul > li p.product_action span { color: #060606; }

#productBox .button_area button { position: relative; background-color: transparent; transition: all .5s ease; }

#productBox .button_area button:hover span { color: #e20613; }

#productBox .button_area button span { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; color: #060606; font-size: 1.25rem; font-weight: bold; transition: all .5s ease; }

#storyBox { position: relative; overflow: hidden; }

#storyBox h2 { position: absolute; left: 50%; transform: translateX(-50%); text-align: center; z-index: 100; color: #e0e0e0; font-weight: bold; text-transform: uppercase; }

#storyBox > ul { position: relative; width: 100%; height: 100%; }

#storyBox > ul > li { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-position: 38% 50%; background-repeat: no-repeat; background-size: cover; }

#storyBox > ul > li:not(:first-child) { display: none; }

#storyBox > ul > li:nth-child(1) { background-image: url("../img/story/story_01.jpg"); }

#storyBox > ul > li:nth-child(2) { background-image: url("../img/story/story_02.jpg"); }

#storyBox > ul > li:nth-child(3) { background-image: url("../img/story/story_03.jpg"); }

#storyBox > ul > li:nth-child(4) { background-image: url("../img/story/story_04.jpg"); }

#storyBox > ul > li:nth-child(5) { background-image: url("../img/story/story_05.jpg"); }

#storyBox > ul > li:nth-child(6) { background-image: url("../img/story/story_06.jpg"); }

#storyBox > ul > li div { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#storyBox > ul > li div:before { content: ""; position: absolute; display: block; width: 18px; height: 18px; box-sizing: border-box; border-top: 2px solid #fff; border-right: 2px solid #fff; transition: all .5s ease; }

#storyBox > ul > li div:after { content: ""; position: absolute; display: block; width: 18px; height: 18px; box-sizing: border-box; border-bottom: 2px solid #fff; border-left: 2px solid #fff; transition: all .5s ease; }

#storyBox > ul > li div:hover:before, #storyBox > ul > li div:hover:after { width: 60px; height: 40px; }

#storyBox > ul > li div:hover a { background-color: #060606; }

#storyBox > ul > li div a { display: block; width: 100%; height: 100%; background-color: rgba(6, 6, 6, 0.5); color: #fff; font-weight: bold; text-align: left; transition: all 1s ease; }

#storyBox > ul > li div a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#storyBox > ul > li div a em { font-style: normal; font-weight: normal; }

#storyBox .indicator { position: absolute; z-index: 1000; width: 366px; height: 20px; }

#storyBox .indicator > span { float: left; font-weight: bold; color: #fff; line-height: 1.25rem; }

#storyBox .indicator > span:last-child { float: right; line-height: 0.625rem; }

#storyBox .indicator > ul { position: relative; width: 300px; height: 4px; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#storyBox .indicator > ul > li { position: absolute; overflow: hidden; width: 50px; height: 100%; background-color: #fff; top: 50%; transform: translateY(-50%); }

#storyBox .indicator > ul > li:not(:first-child) span { left: -50px; }

#storyBox .indicator > ul > li span { position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 100%; background-color: #e20613; }

#storyBox .indicator { left: 50%; transform: translateX(-50%); bottom: 2.75rem; }

#storyBox .indicator a { display: block; width: 100%; height: 100%; }

#storyBox .indicator a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#blogBox { width: 100%; }

.blog_01 { margin: auto; overflow: hidden; }

.blog_01 > ul:first-of-type { width: 100%; }

.blog_01 > ul:first-of-type > li { width: 100%; height: 100%; text-align: left; }

.blog_01 > ul:first-of-type > li.blog_act a { color: #e20613; border-left: 4px solid #e20613; }

.blog_01 > ul:first-of-type > li a { font-weight: bold; margin: auto; color: #e0e0e0; border-left: 4px solid #e0e0e0; box-sizing: border-box; transition: all .5s ease; }

.blog_01 > ul:last-of-type { position: relative; width: 100%; }

.blog_01 > ul:last-of-type > li { position: absolute; left: 0; top: 0; width: 100%; }

.blog_01 > ul:last-of-type > li:not(:nth-of-type(2)) { display: none; }

.blog_01 > ul:last-of-type > li > ul { width: 100%; height: 100%; }

.blog_01 > ul:last-of-type > li > ul > li { width: 100%; }

.blog_01 > ul:last-of-type > li > ul > li a { overflow: hidden; }

.blog_01 > ul:last-of-type > li > ul > li a div { width: 100%; height: 100%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; transition: all .7s ease; }

.blog_01 > ul:last-of-type > li > ul > li a:focus div, .blog_01 > ul:last-of-type > li > ul > li a:hover div { transform: scale(1.1); }

.blog_01 > ul:last-of-type > li > ul > li p { box-sizing: border-box; font-weight: bold; transition: all .7s ease; }

.blog_01 > ul:last-of-type > li > ul > li p span { font-weight: normal; }

.list_01 li:nth-of-type(1) a div { background-image: url("../img/blog/blog_01_01.jpg"); }

.list_01 li:nth-of-type(2) a div { background-image: url("../img/blog/blog_01_02.jpg"); }

.list_01 li:nth-of-type(3) a div { background-image: url("../img/blog/blog_01_03.jpg"); }

.list_02 li:nth-of-type(1) a div { background-image: url("../img/blog/blog_02_01.jpg"); }

.list_02 li:nth-of-type(2) a div { background-image: url("../img/blog/blog_02_02.jpg"); }

.list_02 li:nth-of-type(3) a div { background-image: url("../img/blog/blog_02_03.jpg"); }

.list_03 li:nth-of-type(1) a div { background-image: url("../img/blog/blog_03_01.jpg"); }

.list_03 li:nth-of-type(2) a div { background-image: url("../img/blog/blog_03_02.jpg"); }

.list_03 li:nth-of-type(3) a div { background-image: url("../img/blog/blog_03_03.jpg"); }

.blog_02 { width: 100%; }

.blog_02 > ul { height: 100%; }

.blog_02 > ul > li { width: 100%; border: 2px solid #e0e0e0; transition: all .6s ease; }

.blog_02 > ul > li.blog_02_act { border: 2px solid #e20613; }

.blog_02 > ul > li:nth-of-type(1) > ul > li:nth-of-type(1) { background-image: url("../img/event_02/event_01.png"); }

.blog_02 > ul > li:nth-of-type(2) > ul > li:nth-of-type(1) { background-image: url("../img/event_02/event_02.png"); }

.blog_02 > ul > li:nth-of-type(3) > ul > li:nth-of-type(1) { background-image: url("../img/event_02/event_03.png"); }

.blog_02 > ul > li > ul { position: relative; width: 100%; height: 100%; transition: all .6s ease; }

.blog_02 > ul > li > ul > li { word-break: keep-all; }

.blog_02 > ul > li > ul > li:first-of-type a { display: block; width: 100%; height: 100%; }

.blog_02 > ul > li > ul > li:first-of-type a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

.blog_02 > ul > li > ul > li:last-of-type { width: 100%; position: absolute; bottom: 0.75rem; }

.blog_02 > ul > li > ul > li:last-of-type a { float: right; display: block; width: 24px; height: 24px; border-radius: 100%; background-color: #e20613; transition: all .5s ease; }

.blog_02 > ul > li > ul > li:last-of-type a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

.blog_02 > ul > li > ul > li:last-of-type a span { position: relative; z-index: 500; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 12px; height: 2px; background-color: #fff; transition: all 1s ease; }

.blog_02 > ul > li > ul > li:last-of-type a span:last-child { margin-top: -3px; left: 50%; transform: translateX(-50%) rotate(90deg); }

.blog_02 > ul > li > ul > li:last-of-type a:hover, .blog_02 > ul > li > ul > li:last-of-type a:focus { transform: rotate(180deg); }

.blog_02 > ul > li > ul > li:last-of-type a { margin-right: 0.75rem; }

.blog_02 > ul > li > ul > li p { font-weight: 600; box-sizing: border-box; }

#storeBox { background-color: #060606; box-sizing: border-box; }

#storeBox h2 { text-align: center; color: #e20613; }

#storeBox ul { margin: auto; }

#storeBox ul li a { display: block; width: 100%; height: 100%; color: #a0a0a0; text-align: center; transition: all .8s ease; }

#storeBox ul li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

#storeBox ul li a:hover, #storeBox ul li a:focus { color: #fff; }

#storeBox dl { margin: auto; }

#storeBox dl dt label { width: 100%; height: 100%; }

#storeBox dl dt label p { width: 100%; height: 100%; }

#storeBox dl dd { position: relative; }

#storeBox dl dd input { float: left; padding: 0; box-sizing: border-box; }

#storeBox dl dd input::placeholder { color: #9b9998; }

#storeBox dl dd input:first-of-type { height: 100%; border: 1px solid #fff; background-color: rgba(255, 255, 255, 0.1); }

#storeBox dl dd input[type="submit"] { font-family: 'icomoon'; height: 100%; border: 0; background-color: #fff; font-weight: bold; color: #e20613; font-size: 1.25rem; text-indent: 0.25rem; }

#storeBox dl dd input[type="submit"]:hover, #storeBox dl dd input[type="submit"]:focus { background-color: rgba(255, 255, 255, 0.8); }

#storeBox p { color: #fff; font-weight: bold; }

@media screen and (min-width: 1920px) { header { height: 80px; padding: 0 10.625rem; }
  header h1 { margin-top: 1rem; }
  #gnb { width: 1016px; height: 80px; }
  #gnb > ul > li { margin-right: 0.25rem; width: 166px; }
  #gnb > ul > li > a { line-height: 5rem; font-size: 1rem; }
  #unb { width: 186px; height: 100%; }
  #unb > ul > li { margin-right: 3rem; }
  #unb > ul > li:first-child { width: 24px; }
  #unb > ul > li:first-child span { width: 24px; font-size: 1.375rem; line-height: 5rem; }
  #unb > ul > li a { line-height: 5rem; font-size: 1rem; }
  #unb > ul > li a span { line-height: 5rem; }
  #viewBox > ul > li { padding: 0 10.625rem; }
  #viewBox > ul > li p { font-size: 3.5rem; }
  #viewBox > ul > li a { display: block; width: 240px; height: 62px; font-size: 1.25rem; line-height: 3.875rem; }
  #viewBox > ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  #viewBox .indicator { right: 10%; bottom: 3rem; }
  #eventBox { height: 1160px; padding: 11.625rem 0; box-sizing: border-box; }
  #eventBox > ul { width: 1258px; height: 790px; margin: auto; }
  #eventBox > ul > li { float: left; margin-bottom: 2.125rem; }
  #eventBox > ul > li:first-child { width: 744px; height: 100%; margin-right: 2.125rem; }
  #eventBox > ul > li:first-child > ul > li:first-child { height: 690px; }
  #eventBox > ul > li:not(:first-child) { width: 480px; height: 378px; }
  #eventBox > ul > li:not(:first-child) > ul > li:first-child { height: 278px; }
  #eventBox > ul > li:last-child { margin-bottom: 0; }
  #eventBox > ul > li > ul { width: 100%; height: 100%; }
  #eventBox > ul > li > ul > li:first-child { width: 100%; }
  #eventBox > ul > li > ul > li:last-child { width: 100%; height: 100px; padding: 1.25rem; box-sizing: border-box; }
  #eventBox > ul > li > ul > li:last-child P { float: left; width: 360px; height: 100%; font-size: 1.25rem; }
  #eventBox > ul > li > ul > li:last-child P strong { font-size: 1.5rem; }
  #eventBox > ul > li > ul > li:last-child a { margin-top: 0.625rem; }
  #productBox { height: 1200px; }
  #productBox h2 { position: absolute; top: 50%; left: 17.29%; transform: translateY(-50%); font-size: 2rem; }
  #productBox .button_area { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 55.4%; width: 0; height: 1048px; }
  #productBox .button_area button { position: absolute; width: 44px; height: 22px; }
  #productBox .button_area button.prev { top: 0; }
  #productBox .button_area button.next { bottom: 0; }
  #productBox .button_area button .icon-right-arrow, #productBox .button_area button .icon-left-arrow { display: none; }
  #productBox .slide_wrap { top: 50%; left: 45.834%; transform: translateY(-50%); width: 740px; height: 924px; }
  #productBox ul { width: 100%; height: 300%; margin-top: -20.5rem; }
  #productBox ul li { position: relative; width: 100%; height: 268px; margin-bottom: 3.75rem; }
  #productBox ul li div { float: left; width: 400px; height: 268px; }
  #productBox ul li p { position: absolute; top: 50%; left: 440px; transform: translateY(-50%); width: 288px; height: auto; text-align: left; font-size: 1.25rem; }
  #productBox ul li p span { margin-bottom: 0.5rem; font-size: 1.5rem; }
  #storyBox { height: 900px; overflow: hidden; }
  #storyBox h2 { top: 19rem; width: 268px; height: 56px; font-size: 2rem; line-height: 3.5rem; }
  #storyBox > ul > li:nth-child(5) div a { padding-left: 4.75rem; }
  #storyBox > ul > li div { width: 580px; height: 358px; }
  #storyBox > ul > li div:before { top: 7rem; right: 1.5rem; }
  #storyBox > ul > li div:after { bottom: 1.5rem; left: 1.5rem; }
  #storyBox > ul > li div a { padding: 9rem 0 0 7rem; box-sizing: border-box; font-size: 2rem; line-height: 2.5rem; }
  #storyBox > ul > li div a em { font-size: 1.5rem; }
  #blogBox { position: relative; height: 1848px; padding-top: 10.75rem; box-sizing: border-box; }
  .blog_01 { margin-left: 45.5rem; width: 860px; height: 860px; margin-bottom: 11.6875rem; }
  .blog_01 ul:first-of-type { position: absolute; left: 17%; top: 34.125rem; width: 420px; height: 120px; }
  .blog_01 ul:first-of-type li { height: 40px; }
  .blog_01 ul:first-of-type li a { display: block; width: 100%; height: 100%; font-size: 1.5rem; text-indent: 1.5rem; line-height: 2.5rem; }
  .blog_01 ul:first-of-type li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .blog_01 ul:last-of-type { top: 0; left: 0; width: 100%; height: 100%; }
  .blog_01 ul:last-of-type > li { height: 100%; }
  .blog_01 ul:last-of-type > li > ul > li { position: relative; width: 430px; height: 286px; }
  .blog_01 ul:last-of-type > li > ul > li:first-of-type p { width: 400px; }
  .blog_01 ul:last-of-type > li > ul > li:nth-of-type(2) { left: 50%; }
  .blog_01 ul:last-of-type > li > ul > li:nth-of-type(2) p { left: -478px; text-align: right; }
  .blog_01 ul:last-of-type > li > ul > li p { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; left: 478px; font-size: 1.75rem; word-break: keep-all; }
  .blog_01 ul:last-of-type > li > ul > li p span { font-size: 20px; }
  .blog_02 { width: 990px; height: 434px; margin: auto; }
  .blog_02 > ul { width: 100%; height: 100%; }
  .blog_02 > ul > li { float: left; width: 307px; height: 100%; margin-right: 2.125rem; box-sizing: border-box; }
  .blog_02 > ul > li:last-of-type { margin-right: 0; }
  .blog_02 > ul > li > ul > li { float: left; width: 100%; }
  .blog_02 > ul > li > ul > li:first-of-type { height: 205px; }
  .blog_02 > ul > li > ul > li p { float: left; width: 96%; font-size: 0.75rem; margin-top: 0.5rem; padding-left: 0.75rem; }
  .blog_02 > ul > li > ul > li p strong { font-size: 1rem; line-height: 3rem; }
  #storeBox { height: 300px; padding-top: 3.75rem; }
  #storeBox h2 { margin-bottom: 1rem; font-size: 1.5rem; }
  #storeBox ul { width: 576px; height: 22px; margin-bottom: 4.5rem; }
  #storeBox ul li { float: left; width: auto; height: auto; margin: auto; margin-right: 1.25rem; }
  #storeBox ul li:last-child { margin-right: 0; }
  #storeBox ul li a { font-size: 1.125rem; }
  #storeBox dl { width: 600px; height: 40px; }
  #storeBox dl dt { float: left; width: 248px; height: 100%; }
  #storeBox dl dt p { font-size: 1.25rem; line-height: 2.25rem; }
  #storeBox dl dd { float: right; width: 324px; height: 100%; }
  #storeBox dl dd input::placeholder { font-size: 1rem; }
  #storeBox dl dd input:first-of-type { width: 284px; text-indent: 1rem; }
  #storeBox dl dd input:last-of-type { width: 40px; }
  #footBox { height: 535px; padding-top: 4.875rem; }
  .foot_list_01 { margin: auto; margin-bottom: 2rem; width: 940px; height: 300px; }
  .foot_list_01 li { float: left; width: auto; height: 120px; margin-right: 5rem; }
  .foot_list_01 li dl { width: auto; height: 100%; }
  .foot_list_01 li dl dt { width: 100%; height: 18px; margin-bottom: 1.25rem; }
  .foot_list_01 li dl dt a { display: block; width: 100%; height: 100%; font-size: 0.75rem; margin-bottom: 1.375rem; }
  .foot_list_01 li dl dt a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .foot_list_01 li dl dd a { display: block; width: 100%; height: 100%; font-size: 0.75rem; margin-bottom: 0.5rem; }
  .foot_list_01 li dl dd a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .foot_list_01 li dl dd a span { position: absolute; z-index: 10; }
  .foot_list_01 li dl dd a:last-child { margin-bottom: 0; }
  .foot_list_01 li:nth-child(5) { margin-right: 0; }
  .foot_list_01 li:last-child { margin-top: 5.5rem; margin-right: 0; }
  .foot_list_02 { position: relative; width: 814.8px; height: 48px; }
  .foot_list_02 li { margin-right: 3.75rem; margin-top: 1rem; }
  .foot_list_02 li:last-child { margin-right: 0; margin: 0; } }

@media screen and (min-width: 1280px) and (max-width: 1919px) { header { height: 80px; padding: 0 5.625rem; }
  h1 { margin-top: 1rem; }
  #gnb { width: 740px; }
  #gnb > ul > li { margin-right: 0.25rem; width: 120px; }
  #gnb > ul > li > ul > li a { font-size: 0.75rem; }
  #gnb > ul > li > a { line-height: 5rem; font-size: 0.75rem; }
  #unb { width: 132px; height: 100%; }
  #unb > ul > li { margin-right: 1.75rem; }
  #unb > ul > li:first-child { width: 24px; }
  #unb > ul > li:first-child span { width: 24px; height: 100%; text-indent: 0.125rem; font-size: 1.25rem; line-height: 5rem; }
  #unb > ul > li a { line-height: 5rem; font-size: 0.75rem; }
  #viewBox > ul > li { padding: 0 7.05%; }
  #viewBox > ul > li p { font-size: 3rem; }
  #viewBox > ul > li a { display: block; width: 240px; height: 62px; font-size: 1.25rem; line-height: 3.875rem; }
  #viewBox > ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  #viewBox .indicator { right: 9%; bottom: 1.8rem; }
  #eventBox { height: 1000px; padding: 8.625rem 0; box-sizing: border-box; }
  #eventBox > ul { width: 980px; height: 728px; margin: auto; }
  #eventBox > ul > li { float: left; margin-bottom: 2.125rem; }
  #eventBox > ul > li:first-child { width: 506px; height: 728px; margin-right: 2.125rem; }
  #eventBox > ul > li:first-child > ul > li:first-child { height: 638px; }
  #eventBox > ul > li:not(:first-child) { width: 440px; height: 347px; }
  #eventBox > ul > li:not(:first-child) > ul > li:first-child { height: 257px; }
  #eventBox > ul > li:last-child { margin-bottom: 0; }
  #eventBox > ul > li > ul { width: 100%; height: 100%; }
  #eventBox > ul > li > ul > li:first-child { width: 100%; }
  #eventBox > ul > li > ul > li:last-child { width: 100%; height: 90px; padding: 1.375rem; box-sizing: border-box; }
  #eventBox > ul > li > ul > li:last-child P { float: left; width: 300px; height: 100%; }
  #eventBox > ul > li > ul > li:last-child P strong { font-size: 1.25rem; }
  #eventBox > ul > li > ul > li:last-child a { margin-top: 0.1875rem; }
  #productBox { height: 1140px; }
  #productBox h2 { position: absolute; top: 50%; left: 9%; transform: translateY(-50%); width: 176px; height: 76px; font-size: 2rem; }
  #productBox .button_area { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); left: 50.8%; width: 0; height: 984px; }
  #productBox .button_area button { position: absolute; width: 44px; height: 22px; }
  #productBox .button_area button.prev { top: 0; }
  #productBox .button_area button.next { bottom: 0; }
  #productBox .button_area button .icon-right-arrow, #productBox .button_area button .icon-left-arrow { display: none; }
  #productBox .slide_wrap { top: 50%; left: 37.5%; transform: translateY(-50%); width: 680px; height: 850px; }
  #productBox ul { width: 100%; height: 300%; margin-top: -18.625rem; }
  #productBox ul li { position: relative; width: 100%; height: 254px; margin-bottom: 2.75rem; }
  #productBox ul li div { float: left; width: 380px; height: 254px; }
  #productBox ul li p { position: absolute; top: 50%; left: 388px; transform: translateY(-50%); width: 288px; height: auto; text-align: left; font-size: 1.25rem; }
  #productBox ul li p span { margin-bottom: 0.375rem; font-size: 1.5rem; }
  #storyBox { height: 800px; }
  #storyBox h2 { top: 18rem; width: 268px; height: 56px; font-size: 1.5rem; line-height: 3.5rem; }
  #storyBox > ul > li:nth-child(5) div a { padding-left: 2.5rem; }
  #storyBox > ul > li div { width: 400px; height: 266px; }
  #storyBox > ul > li div:before { top: 6rem; right: 1.2rem; }
  #storyBox > ul > li div:after { bottom: 1.25rem; left: 1.25rem; }
  #storyBox > ul > li div a { padding: 6.75rem 0 0 4.125rem; box-sizing: border-box; font-size: 1.5rem; line-height: 1.75rem; }
  #storyBox > ul > li div a em { font-size: 1rem; }
  #blogBox { position: relative; height: 1684px; padding-top: 9.375rem; box-sizing: border-box; }
  .blog_01 { margin-left: 368px; width: 762px; height: 762px; margin-bottom: 11.6875rem; }
  .blog_01 ul:first-of-type { position: absolute; left: 7.05%; top: 29rem; width: 360px; height: 120px; }
  .blog_01 ul:first-of-type li { height: 40px; }
  .blog_01 ul:first-of-type li a { display: block; width: 100%; height: 100%; font-size: 1.25rem; text-indent: 1.5rem; line-height: 2.5rem; }
  .blog_01 ul:first-of-type li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .blog_01 ul:last-of-type { top: 0; left: 0; width: 100%; height: 100%; }
  .blog_01 ul:last-of-type > li { height: 100%; }
  .blog_01 ul:last-of-type > li > ul > li { position: relative; width: 381px; height: 253px; }
  .blog_01 ul:last-of-type > li > ul > li:nth-of-type(2) { left: 381px; }
  .blog_01 ul:last-of-type > li > ul > li:nth-of-type(2) p { left: -417px; text-align: right; }
  .blog_01 ul:last-of-type > li > ul > li p { position: absolute; top: 50%; transform: translateY(-50%); width: 381px; left: 417px; }
  .blog_02 { width: 990px; height: 434px; margin: auto; }
  .blog_02 > ul { width: 100%; height: 100%; }
  .blog_02 > ul > li { float: left; width: 307px; height: 100%; margin-right: 2.125rem; box-sizing: border-box; }
  .blog_02 > ul > li:last-of-type { margin-right: 0; }
  .blog_02 > ul > li > ul > li { float: left; width: 100%; }
  .blog_02 > ul > li > ul > li:first-of-type { height: 205px; }
  .blog_02 > ul > li > ul > li p { float: left; width: 96%; margin-top: 0.5rem; font-size: 0.75rem; padding-left: 0.75rem; }
  .blog_02 > ul > li > ul > li p strong { font-size: 1rem; line-height: 3rem; }
  #storeBox { height: 300px; padding-top: 3.75rem; }
  #storeBox h2 { margin-bottom: 1rem; font-size: 1.5rem; }
  #storeBox ul { width: 576px; height: 22px; margin-bottom: 4.5rem; }
  #storeBox ul li { float: left; width: auto; height: auto; margin: auto; margin-right: 1.25rem; }
  #storeBox ul li:last-child { margin-right: 0; }
  #storeBox ul li a { font-size: 1.125rem; }
  #storeBox dl { width: 600px; height: 40px; }
  #storeBox dl dt { float: left; width: 248px; height: 100%; }
  #storeBox dl dt p { font-size: 1.25rem; line-height: 2.25rem; }
  #storeBox dl dd { float: right; width: 324px; height: 100%; }
  #storeBox dl dd input::placeholder { font-size: 1rem; }
  #storeBox dl dd input:first-of-type { width: 284px; text-indent: 1rem; }
  #storeBox dl dd input:last-of-type { width: 40px; }
  #footBox { height: 535px; padding-top: 4.875rem; }
  .foot_list_01 { margin: auto; margin-bottom: 2rem; width: 940px; height: 300px; }
  .foot_list_01 li { float: left; width: auto; height: 120px; margin-right: 5rem; }
  .foot_list_01 li dl { width: auto; height: 100%; }
  .foot_list_01 li dl dt { width: 100%; height: 18px; margin-bottom: 1.25rem; }
  .foot_list_01 li dl dt a { display: block; width: 100%; height: 100%; font-size: 0.75rem; margin-bottom: 1.375rem; }
  .foot_list_01 li dl dt a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .foot_list_01 li dl dd a { display: block; width: 100%; height: 100%; font-size: 0.75rem; margin-bottom: 0.5rem; }
  .foot_list_01 li dl dd a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .foot_list_01 li dl dd a span { position: absolute; z-index: 10; }
  .foot_list_01 li dl dd a:last-child { margin-bottom: 0; }
  .foot_list_01 li:nth-child(5) { margin-right: 0; }
  .foot_list_01 li:last-child { margin-top: 5.5rem; margin-right: 0; }
  .foot_list_02 { position: relative; width: 814.8px; height: 48px; }
  .foot_list_02 li { margin-right: 3.75rem; margin-top: 1rem; }
  .foot_list_02 li:last-child { margin-right: 0; margin: 0; } }

@media screen and (min-width: 768px) and (max-width: 1279px) { header { height: 60px; padding: 0.375rem 2.125rem; }
  #gnb { display: none; }
  #unb { width: 172px; height: 100%; }
  #unb > ul > li { margin-right: 3rem; }
  #unb > ul > li:first-child { width: 24px; }
  #unb > ul > li:first-child span { width: 24px; height: 48px; text-indent: 0.125rem; font-size: 1.25rem; line-height: 3.125rem; }
  #unb > ul > li a { line-height: 3rem; font-size: 0.75rem; }
  #viewBox > ul > li { padding: 0 2.125rem; }
  #viewBox > ul > li p { font-size: 2.5rem; }
  #viewBox > ul > li a { display: block; width: 180px; height: 42px; line-height: 2.625rem; }
  #viewBox > ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  #viewBox .indicator { right: 4%; bottom: 2.5rem; }
  #viewBox > ul > li:nth-child(2) { background-position: 100% 0; }
  #eventBox { height: 1300px; padding: 8rem 0; box-sizing: border-box; }
  #eventBox > ul { width: 420px; height: 1044px; margin: auto; }
  #eventBox > ul > li { width: 100%; height: 326px; margin-bottom: 2.125rem; }
  #eventBox > ul > li:last-child { margin-bottom: 0; }
  #eventBox > ul > li > ul { width: 100%; height: 100%; }
  #eventBox > ul > li > ul > li:first-child { width: 100%; height: 246px; }
  #eventBox > ul > li > ul > li:last-child { width: 100%; height: 80px; padding: 1.0625rem; box-sizing: border-box; }
  #eventBox > ul > li > ul > li:last-child P { float: left; width: 300px; height: 100%; }
  #eventBox > ul > li > ul > li:last-child P strong { font-size: 1.25rem; }
  #eventBox > ul > li > ul > li:last-child a { margin-top: 0.1875rem; }
  #productBox { padding-top: 4.875rem; box-sizing: border-box; height: 1024px; }
  #productBox h2 { text-align: center; font-size: 1.75rem; }
  #productBox .button_area { position: absolute; top: 150px; left: -22px; right: 0; margin: auto; width: 0; height: 828px; }
  #productBox .button_area button { position: absolute; width: 44px; height: 22px; }
  #productBox .button_area button.prev { top: 0; }
  #productBox .button_area button.next { bottom: 0; }
  #productBox .button_area button .icon-right-arrow, #productBox .button_area button .icon-left-arrow { display: none; }
  #productBox .slide_wrap { top: 208px; width: 380px; height: 724px; }
  #productBox ul { width: 100%; height: 400%; margin-top: -22.625rem; }
  #productBox ul li { width: 100%; height: 340px; margin-bottom: 1.375rem; }
  #productBox ul li:last-of-type { margin-bottom: 0; }
  #productBox ul li div { width: 380px; height: 254px; }
  #productBox ul li p { width: 380px; height: auto; text-align: center; margin-top: 1rem; }
  #productBox ul li p span { font-size: 1.25rem; }
  #storyBox { height: 1024px; }
  #storyBox h2 { top: 25rem; width: 268px; height: 56px; font-size: 1.5rem; line-height: 3.5rem; }
  #storyBox > ul > li:nth-child(5) div a { padding-left: 2.5rem; }
  #storyBox > ul > li:last-child { background-position: 60% 50%; }
  #storyBox > ul > li div { width: 400px; height: 282px; }
  #storyBox > ul > li div:before { top: 6.5rem; right: 1.5rem; }
  #storyBox > ul > li div:after { bottom: 1.5rem; left: 1.5rem; }
  #storyBox > ul > li div a { padding: 7.5rem 0 0 4.125rem; box-sizing: border-box; font-size: 1.5rem; line-height: 1.75rem; }
  #storyBox > ul > li div a em { font-size: 1rem; }
  #blogBox { height: 2230px; }
  .blog_01 { width: 380px; height: 1300px; margin-bottom: 9.125rem; padding-top: 4.5rem; box-sizing: border-box; }
  .blog_01 ul:first-of-type { height: 120px; margin-bottom: 4.5rem; }
  .blog_01 ul:first-of-type li { height: 40px; }
  .blog_01 ul:first-of-type li a { display: block; width: 100%; height: 100%; font-size: 1.25rem; text-indent: 1.5rem; line-height: 2.5rem; }
  .blog_01 ul:first-of-type li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .blog_01 ul:last-of-type { height: 1080px; }
  .blog_01 ul:last-of-type > li > ul > li { height: 314px; margin-bottom: 38px; }
  .blog_01 ul:last-of-type > li > ul > li:last-of-type { margin-bottom: 0; }
  .blog_01 ul:last-of-type > li > ul > li a { display: block; width: 100%; height: 254px; }
  .blog_01 ul:last-of-type > li > ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .blog_01 ul:last-of-type > li > ul > li p { font-size: 1.5rem; line-height: 1.5rem; padding: 0.5rem 0 0 0.5rem; }
  .blog_01 ul:last-of-type > li > ul > li p span { font-size: 1rem; }
  .blog_02 > ul { width: 540px; margin: auto; }
  .blog_02 > ul > li { height: 188px; margin-bottom: 2.125rem; }
  .blog_02 > ul > li > ul > li { float: left; }
  .blog_02 > ul > li > ul > li:first-of-type { width: 280px; height: 188px; }
  .blog_02 > ul > li > ul > li:nth-of-type(2) { float: right; width: 258px; padding-right: 4px; padding-top: 0.5rem; box-sizing: border-box; }
  .blog_02 > ul > li > ul > li p { float: left; width: 96%; font-size: 0.75rem; font-weight: 600; padding-left: 0.75rem; box-sizing: border-box; }
  .blog_02 > ul > li > ul > li p strong { font-size: 1rem; line-height: 3rem; }
  #storeBox { height: 300px; padding-top: 2.25rem; }
  #storeBox h2 { margin-bottom: 2rem; font-size: 1.5rem; }
  #storeBox ul { width: 515px; height: 22px; margin-bottom: 5.75rem; }
  #storeBox ul li { float: left; width: auto; height: auto; margin: auto; margin-right: 1.25rem; }
  #storeBox ul li:last-child { margin-right: 0; }
  #storeBox dl { width: 542px; height: 36px; }
  #storeBox dl dt { float: left; width: 200px; height: 100%; }
  #storeBox dl dt p { line-height: 2.25rem; }
  #storeBox dl dd { float: right; width: 324px; height: 100%; }
  #storeBox dl dd input:first-of-type { width: 284px; text-indent: 1rem; }
  #storeBox dl dd input:last-of-type { width: 40px; }
  #footBox { position: relative; min-height: 640px; padding-top: 4.875rem; }
  .foot_list_01 { margin: auto; margin-bottom: 4.5rem; width: 196px; height: auto; }
  .foot_list_01 li:nth-child(5) dd { width: 120px; margin: -1rem auto 2.25rem; }
  .foot_list_01 li dl dt { margin-bottom: 2.25rem; }
  .foot_list_01 li dl dt a { text-align: center; }
  .foot_list_01 li dl dt p { text-align: center; }
  .foot_list_01 li dl dd { display: none; margin: -1rem auto 2.25rem; }
  .foot_list_01 li dl dd a { display: block; width: 100%; margin-bottom: 1rem; font-size: 0.75rem; text-align: center; }
  .foot_list_01 li dl dd a span { float: left; }
  .foot_list_01 li dl dd a:last-child { margin-bottom: 0; }
  .foot_list_01 li:last-child dd { display: block; margin: auto; }
  .foot_list_02 { position: relative; z-index: 1000; width: 338px; height: 160px; }
  .foot_list_02 li:nth-child(4) { margin-bottom: 5.5rem; margin-right: 0; }
  .foot_list_02 li:nth-child(5) { width: 100%; text-align: center; }
  .foot_list_02 li:last-child { position: absolute; left: 50%; transform: translateX(-50%); text-align: center; top: 3rem; } }

@media screen and (max-width: 767px) { header { height: 60px; padding: 0.375rem 0.75rem; }
  #gnb { display: none; }
  #unb { width: 164px; height: 100%; }
  #unb > ul > li { margin-right: 2.75rem; }
  #unb > ul > li:first-child { width: 24px; }
  #unb > ul > li:first-child span { width: 24px; height: 48px; text-indent: 0.125rem; font-size: 1.25rem; line-height: 3.125rem; }
  #unb > ul > li a { line-height: 3rem; font-size: 0.75rem; }
  #viewBox > ul > li { padding: 0 50px; }
  #viewBox > ul > li p { font-size: 1.5rem; word-break: keep-all; width: 300px; }
  #viewBox > ul > li a { display: block; width: 180px; height: 42px; line-height: 2.625rem; }
  #viewBox > ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  #viewBox .indicator { left: 50%; transform: translateX(-50%); bottom: 2rem; }
  #viewBox > ul > li:nth-child(2) { background-position: 100% 0; }
  #eventBox { height: 1140px; padding: 5.125rem 0; box-sizing: border-box; }
  #eventBox > ul { width: 380px; height: 1020px; margin: auto; }
  #eventBox > ul > li { width: 100%; height: 302px; margin-bottom: 2.125rem; }
  #eventBox > ul > li:last-child { margin-bottom: 0; }
  #eventBox > ul > li > ul { width: 100%; height: 100%; }
  #eventBox > ul > li > ul > li:first-child { width: 100%; height: 222px; }
  #eventBox > ul > li > ul > li:last-child { width: 100%; height: 80px; padding: 1.0625rem; box-sizing: border-box; }
  #eventBox > ul > li > ul > li:last-child P { float: left; width: 300px; height: 100%; }
  #eventBox > ul > li > ul > li:last-child P strong { font-size: 1.25rem; }
  #eventBox > ul > li > ul > li:last-child a { margin-top: 0.1875rem; }
  #productBox { padding-top: 4.375rem; box-sizing: border-box; height: 640px; }
  #productBox h2 { text-align: center; font-size: 1.5rem; }
  #productBox .button_area { position: absolute; left: 50%; transform: translateX(-50%); text-align: center; top: 304px; width: 350px; height: 0; }
  #productBox .button_area button { width: 22px; height: 44px; float: left; }
  #productBox .button_area button span { font-size: 2.25rem; line-height: 40px; }
  #productBox .button_area button .icon-up-arrow, #productBox .button_area button .icon-down-arrow { display: none; }
  #productBox .button_area button.next { float: right; }
  #productBox .slide_wrap { top: 13.875rem; width: 280px; height: 300px; }
  #productBox ul { width: 800%; height: auto; margin-left: -100%; }
  #productBox ul li { float: left; width: 12.5%; height: 300px; margin-bottom: 1rem; }
  #productBox ul li:last-child { margin-bottom: 0; }
  #productBox ul li div { width: 280px; height: 180px; }
  #productBox ul li p { width: 100%; text-align: center; margin-top: 26px; }
  #productBox ul li p span { font-size: 1.25rem; }
  #storyBox { height: 640px; }
  #storyBox h2 { top: 14rem; width: 180px; height: 56px; font-size: 1.25rem; line-height: 3.5rem; }
  #storyBox > ul > li:nth-child(5) div a { padding-left: 3rem; }
  #storyBox > ul > li:last-child { background-position: 60% 50%; }
  #storyBox > ul > li div { width: 360px; height: 204px; }
  #storyBox > ul > li div a { padding: 4.75rem 0 0 4.25rem; box-sizing: border-box; font-size: 1.25rem; line-height: 1.5rem; }
  #storyBox > ul > li div a em { font-size: 0.75rem; }
  #storyBox > ul > li div:before { top: 4rem; right: 1rem; }
  #storyBox > ul > li div:after { bottom: 1rem; left: 1rem; }
  #blogBox { height: 2628px; }
  .blog_01 { width: 380px; height: 1240px; margin-bottom: 6.5rem; padding-top: 3.375rem; box-sizing: border-box; }
  .blog_01 ul:first-of-type { height: 120px; margin-bottom: 3.375rem; }
  .blog_01 ul:first-of-type li { height: 40px; }
  .blog_01 ul:first-of-type li a { display: block; width: 100%; height: 100%; font-size: 1.25rem; text-indent: 1.5rem; line-height: 2.5rem; }
  .blog_01 ul:first-of-type li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .blog_01 ul:last-of-type { height: 1080px; }
  .blog_01 ul:last-of-type > li > ul > li { height: 314px; margin-bottom: 38px; }
  .blog_01 ul:last-of-type > li > ul > li:last-of-type { margin-bottom: 0; }
  .blog_01 ul:last-of-type > li > ul > li a { display: block; width: 100%; height: 254px; }
  .blog_01 ul:last-of-type > li > ul > li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .blog_01 ul:last-of-type > li > ul > li p { font-size: 1.5rem; line-height: 1.5rem; padding: 0.5rem 0 0 0.5rem; }
  .blog_01 ul:last-of-type > li > ul > li p span { font-size: 1rem; }
  .blog_02 > ul { width: 280px; margin: auto; }
  .blog_02 > ul > li { height: 372px; margin-bottom: 2.125rem; }
  .blog_02 > ul > li > ul > li:first-of-type { width: 280px; height: 188px; }
  .blog_02 > ul > li > ul > li p { width: 270px; font-size: 0.75rem; font-weight: 600; padding-left: 0.5rem; box-sizing: border-box; }
  .blog_02 > ul > li > ul > li p strong { font-size: 1rem; line-height: 3rem; }
  #storeBox { height: 350px; padding-top: 2.75rem; }
  #storeBox h2 { margin-bottom: 2rem; font-size: 1.5rem; }
  #storeBox ul { width: 247px; height: auto; margin-bottom: 2.5rem; }
  #storeBox ul li { width: 176px; height: auto; margin: auto; margin-bottom: 1.25rem; }
  #storeBox ul li:last-child { margin-bottom: 0; }
  #storeBox dl { width: 328px; height: 62px; }
  #storeBox dl dt { width: 200px; height: 16px; margin-bottom: 0.75rem; }
  #storeBox dl dd { width: 100%; height: 36px; }
  #storeBox dl dd input:first-of-type { width: 284px; text-indent: 1rem; }
  #storeBox dl dd input:last-of-type { width: 40px; }
  #footBox { position: relative; min-height: 640px; padding-top: 4.875rem; }
  .foot_list_01 { margin: auto; margin-bottom: 4.5rem; width: 196px; height: auto; }
  .foot_list_01 li:nth-child(5) dd { width: 120px; margin: -1rem auto 2.25rem; }
  .foot_list_01 li dl dt { margin-bottom: 2.25rem; }
  .foot_list_01 li dl dt a { text-align: center; }
  .foot_list_01 li dl dt p { text-align: center; }
  .foot_list_01 li dl dd { display: none; margin: -1rem auto 2.25rem; }
  .foot_list_01 li dl dd a { display: block; width: 100%; margin-bottom: 1rem; font-size: 0.75rem; text-align: center; }
  .foot_list_01 li dl dd a span { float: left; }
  .foot_list_01 li dl dd a:last-child { margin-bottom: 0; }
  .foot_list_01 li:last-child dd { display: block; margin: auto; }
  .foot_list_02 { position: relative; z-index: 1000; width: 338px; height: 160px; }
  .foot_list_02 li:nth-child(4) { margin-bottom: 5.5rem; margin-right: 0; }
  .foot_list_02 li:nth-child(5) { width: 100%; text-align: center; }
  .foot_list_02 li:last-child { position: absolute; left: 50%; transform: translateX(-50%); text-align: center; top: 3rem; } }
