@mixin tablet {
@media screen and (min-width:768px) and (max-width:1279px) {
    @content;
// -------------------------------------------------------------
    header{height:60px;padding:0.375rem 2.125rem;}
    #gnb{display:none;}
    #unb{width:172px;height:100%;
        li{margin-right:3rem;
            &:first-child{width:24px; span{width:24px;height:48px;text-indent:0.125rem;font-size:1.25rem;line-height:3.125rem;}}
            a{line-height:3rem;font-size:0.75rem;}}}
// -------------------------------------------------------------
    #viewBox{height:964px;margin-top:3.75rem;
        >ul{>li{padding:0 2.125rem;p{font-size:2.5rem;} a{@include link(180px,42px);line-height:2.625rem;}}}
        .indicator{right:4%;bottom:2.5rem;}
    }
// -------------------------------------------------------------
    #eventBox{height:1300px;padding:8rem 0;box-sizing:border-box;
        >ul{width:420px;height:1044px;margin:auto;
            >li{width:100%;height:326px;margin-bottom:2.125rem; &:last-child{margin-bottom:0;}
                >ul{width:100%;height:100%;
                    >li:first-child{width:100%;height:246px;}
                    >li:last-child{width:100%;height:80px;padding:1.0625rem;box-sizing:border-box; 
                        P{float:left;width:300px;height:100%; strong{font-size:1.25rem;}} a{margin-top:0.1875rem;}}
    }}}}
// -------------------------------------------------------------
    #productBox{padding-top:4.875rem;box-sizing:border-box;height:1024px;
        h2{text-align:center;font-size:1.75rem;}
        .button_area{@include img_center;width:600px;height:0;
            button{width:22px;height:40px;float:left; span{font-size:2.25rem;line-height:40px;}
                & .icon-up-arrow,& .icon-down-arrow{display:none;}
                &.next{float:right;}
            }}
        .slide_wrap{top:208px;width:380px;height:724px;}
        $count:8;
        ul{width:100%;height:400%;
            li{width:100%;height:340px;margin-bottom:1.375rem;
                &:last-of-type{margin-bottom:0;}
                div{width:380px;height:254px;}
                p{width:380px;height:auto;text-align:center;margin-top:1rem;span{font-size:1.25rem;}}
            }}
    }
// -------------------------------------------------------------
    #storyBox{height:1024px;
        h2{top:25rem;width:268px;height:56px;font-size:1.5rem;line-height:3.5rem;}
        >ul{>li{
            &:nth-child(5){div{a{padding-left:2.5rem;}}}
            div{width:400px;height:282px;
            &:before{top:6.5rem;right:1.5rem;}
            &:after{bottom:1.5rem;left:1.5rem;}
                a{padding:7.5rem 0 0 4.125rem;box-sizing:border-box;font-size:1.5rem;line-height:1.75rem; em{font-size:1rem;}}}}
        }
    }
// -------------------------------------------------------------
    #blogBox{height:2230px;}

    .blog_01{width:380px;height:1300px;margin-bottom:9.125rem;padding-top:4.5rem;box-sizing:border-box;
        ul:first-of-type{height:120px;margin-bottom:4.5rem;
         li{height:40px; a{@include link;font-size:1.25rem;text-indent:1.5rem;line-height:2.5rem;}}
        }
        ul:last-of-type{height:1080px;
            >li>ul>li{height:314px;margin-bottom:38px;
                        &:last-of-type{margin-bottom:0;}
                        a{@include link(100%,254px);}
                        p{font-size:1.5rem;line-height:1.5rem;padding:0.5rem 0 0 0.5rem;
                            span{font-size:1rem;}
    }}}}
    .blog_02{
        >ul{width:540px;margin:auto;
            >li{height:188px;margin-bottom:2.125rem;
                >ul{>li{float:left;
                    &:first-of-type{width:280px;height:188px;}
                    &:nth-of-type(2){float:right;width:258px;padding-right:4px;padding-top:0.5rem;box-sizing:border-box;}
                        p{float:left;width:96%;font-size:0.75rem;font-weight:600;padding-left:0.75rem;box-sizing:border-box;strong{font-size:1rem;line-height:3rem;}
                        
    }}}}}}
// -------------------------------------------------------------
    #storeBox{height:300px;padding-top:2.25rem;
        h2{margin-bottom:2rem;font-size:1.5rem;}
        ul{width:515px;height:22px;margin-bottom:5.75rem;
            li{float:left;width:auto;height:auto;margin:auto;margin-right:1.25rem;
                &:last-child{margin-right:0;}
            }
        }
        dl{width:542px;height:36px;
            dt{float:left;width:200px;height:100%;
                p{line-height:2.25rem;}
            }
            dd{float:right;width:324px;height:100%;
                input:first-of-type{width:284px;text-indent:1rem;}
                input:last-of-type{width:40px;}
            }
        }
    }
// -------------------------------------------------------------
#footBox{height:640px;padding-top:4.875rem;}
.foot_list_01{margin:auto;margin-bottom:4.5rem;width:196px;height:330px;
        li{
            dl{
                dt{
                    a{text-align:center;margin-bottom:2.25rem;}
                    p{text-align:center;}
                }
                dd{display:none;}
            }
            &:last-child{dd{display:block;margin:auto;}}
}}
.foot_list_02{position:relative;width:338px;height:16px;
    li:nth-child(4){margin-bottom:5.5rem;margin-right:0;}
    li:nth-child(5){width:100%;text-align:center;}
    li:last-child{@include center;bottom:-5rem;}
}
// -------------------------------------------------------------
}}